<section class="phx-hero">
  <h1>Welcome!</h1>
  <p>
    This site is the server for the data managed by the
    <a href="https://t.me/awesome_list_bot">
      <code>@awesome_list_bot</code>
    </a>.
  </p>
  <p>
    In order to visualize your data here,
    please request a valid link by using the command <code>/web</code> in your group or private chat.
  </p>
</section>
